pandas
sqlalchemy
#ipython-sql #do we actually need this for the extension?
#jupysql #replaces ipython-sql
pydot
graphviz

# Now included in package src
#git+https://github.com/fschulze/sqlalchemy_schemadisplay.git
